@font-face {
    font-family: "titulos";
    src: url("../assets\fonts\Demo_Fonts\Fontspring-DEMO-theseasons-reg.otf");
}
@font-face {
    font-family: "parrafos";
    src: url("../assets\fonts\now-font-family-1726815100-0\Now-Black-BF6542f712baf72.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #fff;
    border-bottom: 1px solid #ccc;
    font-family: parrafos;
}
.logo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.logo img {
    width: 250px;
    margin-right: 10px;
    margin-left: 15px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    font-size: 16px;
    color: #14325e; /* Color azul oscuro */
    transition: color 0.3s ease;
    margin-right: 20px;
}

#home{
    display: flex;
    gap: 200px;
    margin: 50px 20px 20px 20px;
}
h1{
    margin-top: 150px;
    margin-left: 50px;
    text-align: center;
    color: #14325e;
}
#home img{
    width: 400px;
    height: 400px;
}